<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo d'Arcadia</title>
    <link rel="icon" type="image/svg+xml" href="{{ asset('assets/img/logo_zoo.svg') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Happy+Monkey:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>

<body>

    {% include 'blocCode/header.html.twig' %}

    <main>
        <section class="animaux_details">
            <div class="grid_animaux_details">
                {% block body %}
                    <img src="{{ vich_uploader_asset(animal, 'imageFile') }}" class="grid_img" alt="{{ animal.nom }}">
                    <p>
                        Nom : {{ animal.nom }}<br>
                        Race : {{ animal.race }}<br>
                        Âge : {{ animal.age }} ans<br>
                        Habitat : {{ animal.habitat.nom }}<br>
                        {% if rapportVeterinaire %}
                            Etat de santé : {{ rapportVeterinaire.etat }}<br>
                            {% if rapportVeterinaire.details %}
                                Détails sur son état : {{ rapportVeterinaire.details }}<br>
                            {% endif %}
                        {% endif %}
                        Visites : {{ viewCount }}<br>
                    </p>
                {% endblock %}
            </div>
        </section>
    </main>

    {% include 'blocCode/footer.html.twig' %}

</body>
</html>